<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="main">
    <%- include('partials/header') %>
    <div class="content">
        <h1>Dashboard</h1>
        <br>
        <!-- CROPS SECTION -->
        <% if (array.length === 0) { %>
            <!-- This will be displayed when the array length is 0 -->
        <div class="dotted-box">Please Enter Crop Data To Preview here</div> 
        <% } %>
        <div class="content-wrap">
            <h3>Crops</h3>
            <section class="info-boxes">
                <!-- Add For Loop Here -->
            <!-- LOOP -->
            <% array.forEach((item) => { %>
                <div class="info-box">
                    <div class="box-icon">
                        <i class="icon"><i class="fa-solid fa-seedling fa-2xl"></i></i>
                    </div>
                    
                    <div class="box-content">
                        <span class="big">24</span>
                        <span class="big"><%= item.CropName %></span>
                        
                    </div>
                </div>
            <% }) %>
            </section>

            <!-- TEAMS SECTION -->
            <div class="content-wrap">
                <h3>Teams</h3>
                <div class="card-container">
                    <% teams.forEach((item) => { %>                      
                        <div class="card">
                            <h4><%= item.team_name %></h4>
                            <div class="line">
                                <div class="icon-container">
                                    <i style="color: rgb(0, 0, 0);" id="icon-team" class="fas fa-user-friends"></i>
                                </div>
                                Total Members:
                                <span id="team-span"><%= item.total_members %></span>
                            </div>
                            <div class="line">
                                <div class="icon-container">
                                    <i style="color: rgb(255, 3, 112);" id="icon-team" class="fas fa-female"></i>
                                </div>
                                Females:
                                <span id="team-span"><%= item.female_count %></span>
                            </div>
                            <div class="line">
                                <div class="icon-container">
                                    <i style="color: blue;" id="icon-team" class="fas fa-male"></i>
                                </div>
                                Males:
                                <span id="team-span"><%= item.male_count %></span>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            
    </div> 
    </div>
</body>
</html>