<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>  
    <title>View Crop</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="main">
    <%- include('partials/header') %>
    <div class="content">

    <div class="container">
        <h1>View Crop</h1>
        <div class="crop-details">
            <h2>Name => <%= crop.CropName %></h2>
            <p><strong>Crop Type:</strong> <%= crop.CropType %></p>
            <p><strong>Planting Season:</strong> <%= crop.PlantingSeason %></p>
            <p><strong>Description:</strong></p>
            <p><%= crop.Description %></p>
            <p><strong>Created At:</strong> <%= crop.created_at %></p>
            <p><strong>Updated At:</strong> <%= crop.updated_at %></p>
        </div>
        <br>
        <button><a href="/crops">Back to Crops</a></button>
    </div>

    </div>
    </div>
</body>
</html>
